@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0;
}

.navbar{
    overflow: hidden;
    background-color: grey;
}

.navbar a{
  float: left;
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.batch1 a{
    margin-left: 150px;
}

.batch2 a{
    margin-left: 850px;
}

.navbar a:hover {
    background-color: green; 
    color: black; 
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: green;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 500px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

.banner{
    border: 5px solid black;
    border-radius: 10px;
    width: 1530px;
    height: 312px;
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 50px;
}

.sbanner h6{
    font-size: 100px;
    font-family: "Fjalla One", sans-serif;
    margin-left: 620px;
    margin-top: 70px;
}

.sbanner h2{
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
    margin-left: 650px;
    margin-top: 10px;
}

.sbanner h1{
    font-size: 16px;
    font-family: "Fjalla One", sans-serif;
    margin-left: 650px;
    margin-top: 10px;
}

.photo2{
    border: 5px solid black;
    position: absolute;
    border-radius: 10px;
    width: 450px;
    height: 530px;
    margin-top: 500px;
    margin-left: 140px;
    margin-right: 50px;
}

.subtn{
    font-size: 16px;
    font-family: "Fjalla One", sans-serif;
    margin-left: 650px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid green;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.subtn:hover{
    background-color: green;
    
}

.login-box{
    width: 350px;
    height: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
}
.login-box h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: px;
}
.login-box input[type="submit"] {
    width: 100%;
    margin-top: 70px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-box input[type="submit"]:hover {
    background-color: #0056b3;
}