.Login{
    background-image: url("/home/naveen/Documents/FREQUENT/STUDY RELATED STUFFS/CODES/6th semester shit/HIRE N FIRE/HIRE_N_FIRE/frontend/res/images/temp.png");
    background-size:fit;
    background-repeat: repeat;
    height: 100vh;
}
